<div class="container mb-3">
  <%= form_with(model: @competition, class: "row justify-content-center", local: true, id: "competition-form") do |f| %>
    <div class="col-lg-6 col-md-10 col-sm-10 bg-dark rounded p-4">
      <div class="row mb-3 g-2">
        <div class="col-md-3">
          <%= f.label :name, "Competition name", class: "text-light pt-1" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control", id: "competitionName" %>
        </div>
      </div>
      <div class="row mb-3 g-2">
        <div class="col-md-3">
          <%= f.label :type_of_scoring, class: "text-light pt-1" %>
        </div>
        <div class="col-md-3">
          <%= f.number_field :win, class: "form-control", placeholder: "win", id: "competitionWin" %>
        </div>
        <div class="col-md-3">
          <%= f.number_field :draw, class: "form-control", placeholder: "draw", id: "competitionDraw" %>
        </div>
        <div class="col-md-3">
          <%= f.number_field :loss, class: "form-control", placeholder: "loss", id: "competitionLoss" %>
        </div>
      </div>
      <div class="row mb-3 g-2">
        <div class="col-md-3">
          <%= f.label :competitors, "Competitors (separated by semicolon)", class: "text-light"%>
        </div>
        <div class="col-md-9">
          <%= f.text_area :competitors, class: "form-control", style: "height: 100px", id: "competitors",
              value: @competition.competitors.pluck(:name).join('; '), placeholder: "Competitor 1;Competitor 2" %>
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-center">
          <%= f.submit class: "btn btn-primary btn-md"%>  
      </div>
      <div class="mt-1 d-flex justify-content-center">
        <%= link_to '[ Cancel ]', root_path, class: "text-info" %> 
      </div>
    </div>
  <% end %>
</div>
