<li class="list-group-item">
  <div class="row">
    <div class="col-3 text-center border-end"><%= match.datetime.strftime("%d/%m/%Y %H:%M") %></div>
    <div class="col-2">
      <%= match.competitor1.name%>
    </div>
    <div class="col-2 text-center">
      <% if match.competitor1_score.nil? || match.competitor2_score.nil? %>
          -
      <% else %>
        <%= match.competitor1_score%> : <%= match.competitor2_score%>
      <% end %>
    </div>
    <div class="col-2 text-end">
      <%= match.competitor2.name%>
    </div>
    <% if match.competition.user == current_user %>
      <div class="col-3 text-center">
          <%= link_to "Update score", edit_matches_path(match), class: "btn btn-primary btn-sm"%>
      </div>
    <% end %>
  </div>
</li>